<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.apple.launchd.test.secsock</string>
    <key>ProgramArguments</key>
    <array>
	    <string>sleep</string>
	    <string>10000</string>
    </array>
    <key>Sockets</key>
    <dict>
	    <key>AuthSock</key>
	    <dict>
		    <key>SecureSocketWithKey</key>
		    <string>SSH_AUTH_SOCK</string>
	    </dict>
    </dict>
</dict>
</plist>
